
<style type="text/css"></style>
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ToDoList_Hassan_El_Bardan.Models.main>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "To Do List";
}
@using (Html.BeginForm())
{
    <br />
        <fieldset>
            <div>
                <input type="text" name="keyword" />
                <a> </a>
                <input class="btn-default" type="submit" value="Suche" />
                <div class="horizontalBarItems">
    <p style="color:black" id="btn-link">@Html.ActionLink("+ Aufgabe anlegen", "Create",null, new { @class = "my-class" })</p>
    </div>
    </div>
    </fieldset>
   
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Titel", "Index", new
                    {
                        sortOn = "Titel",
                        orderBy = ViewBag.OrderBy,
                        pSortOn = ViewBag.SortOn,
                        keyword = ViewBag.Keyword
                    }, new { })
                </th>
                <th>
                    @Html.ActionLink("isDone", "Index", new
                 {
                     sortOn = "isDone",
                     orderBy = ViewBag.OrderBy,
                     pSortOn = ViewBag.SortOn,
                     keyword = ViewBag.Keyword
                 }, new { })
                </th>
                <th>
                    <a href='@Url.Action("DeleteAllDones","Home")'>
                        Löschen aller erledigten Aufgaben
                    </a>
                </th>
           </tr>
           
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href='@Url.Action("Details", "Home", new {id = item.Id})'>
                        @Html.DisplayFor(modelItem => item.Titel)
                    </a>
                </td>
                <td>
                    <a href='@Url.Action("SaveStatus","Home",new { id = item.Id })' >
                        @Html.CheckBoxFor(modelItem => item.isDone)
                    </a>
                </td>
                <td>
                    @Html.ActionLink("Bearbeiten","Edit",new { id = item.Id}) |
                    @Html.ActionLink("Löschen", "Delete", new { id = item.Id }) 
                </td>
            </tr>

        }
    </table>

    <div class="pagedList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new
   {
       page,
       sortOn = ViewBag.SortOn,
       orderBy = ViewBag.OrderBy,
       pSortOn =
                ViewBag.SortOn,
       keyword = ViewBag.Keyword
   }),
            PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
           
                function setStatus()
                {
                    alert(this.checked);
                }
        
           
        )

        </script>
    }
}